@model BitMe.Models.User

@{
    ViewBag.Title = "Profile";
}


<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h2>Arthorn</h2>
                <img class="avatar width-full rounded-2"src="~/Image/20161217_114128.jpg" width="230" height="230"/>
            <h4>Description</h4>
        </div>

        <div class="col-sm-9">
            <h4><small>RECENT WIN</small></h4>
            <hr>
            <h2>Addidas</h2>
            <h5><span class="glyphicon glyphicon-time"></span>Sep 27, 2015.</h5>
            <h5><span class="label label-danger">Sport shoes</span> <span class="label label-primary">Ultra Boots</span></h5><br>
            <p>Description of product</p>
            <br><br>

            <h4><small>RECENT WIN</small></h4>
            <hr>
            <h2>Officially Blogging</h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
            <h5><span class="label label-success">Lorem</span></h5><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <hr>
        </div>
    </div>
</div>
